<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" scroll-on-click="" href="#headline">Little Heathens Gourmet Jams</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a scroll-on-click="" href="#about">Local</a></li>
        <li><a scroll-on-click="" href="#services">Natural</a></li>
        <li><a scroll-on-click="" href="#contact">Flavors</a></li>
        <li><a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Store</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="headline" id="headline">
  <div class="container">
    <div class="row">
       <div class="pull-left">
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="pull-right">
            <h5><a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Shop our online store!</a></h5>
        </div>
    </div>
      <hr class="featurette-divider" id="contact">
      <img src="/images/9e4925ab.little_heathens_opt.svg" alt="Little Heathens" class="header-logo center-block">
    <div class="header-image"></div>
    <img src="/images/17b025b3.gourmet_jams_opt.svg" alt="Gourmet Jams" class="header-logo center-block">
  </div>
</div>

<div class="container">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" id="about">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/15a8f7b5.hand_made.jpg">
    <h2 class="featurette-heading"> <span class="text-muted">Hand-Made</span> and <span class="text-muted">Local</span></h2>
    <p class="lead">Established in 2010, Little Heathen&#39;s is an artisan jam propriety located in Des Moines, Iowa. I use small businesses and local farms to make my products and grow many of the herbs used in the recipes I have created; otherwise I procure gourmet ingredients from my local culinarium. I want consumers to have a _______ when they try my jam.</p>
  </div>

  <hr class="featurette-divider" id="services">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-left" src="/images/2b493ffa.fresh.jpg">
    <h2 class="featurette-heading"><span class="text-muted">Natural</span></h2>
    <p class="lead">I use natural ingredients and organic cane sugar in my recipes. No corn syrup, no GMOs, even the pectin I use to make the jams gel is 100% organic citrus pectin! Using organic citrus pectin means half the sugar and a beautiful product every time!
</p>
  </div>

  <hr class="featurette-divider" id="contact">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/19b38fc2.flavors.jpg">
    <h2 class="featurette-heading"><span class="text-muted">Bold, New Recipes</span> and <span class="text-muted">Old Favorites</span></h2>
    <p class="lead">Ever tried strawberry Riesling jam? How about blueberry preserves with pure maple syrup or a spicy jam made with Bing cherries and habanero? I have the old favorites too; strawberry rhubarb, apple butter and Concord grape jam; just to name a few.  <a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Browse my selections in my online store!</a>
</p>
  </div>

  <!-- /END THE FEATURETTES -->

  <hr>

  <!-- FOOTER -->
  <footer>
    <p>Copyright &copy; Little Heathens Gourmet Jams 2014</p>
  </footer>
  <!-- /END OF FOOTER -->

</div><!-- /container -->