<!-- facebook support script  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" scroll-on-click="" href="#headline">Little Heathen&#39;s Gourmet Jams</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a scroll-on-click="" href="#local">Local</a></li>
        <li><a scroll-on-click="" href="#natural">Natural</a></li>
        <li><a scroll-on-click="" href="#flavors">Flavors</a></li>
        <li><a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Store</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="headline" id="headline">
  <div class="container">
    <div class="row">
       <div class="pull-left">
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="pull-right">
            <h5><a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Shop our online store!</a></h5>
        </div>
    </div>
      <hr class="featurette-divider">
      <img src="/images/9e4925ab.little_heathens_opt.svg" alt="Little Heathens" class="header-logo center-block">
    <div class="header-image"></div>
    <img src="/images/17b025b3.gourmet_jams_opt.svg" alt="Gourmet Jams" class="header-logo center-block">
  </div>
</div>

<div class="container">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" id="local">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/15a8f7b5.hand_made.jpg">
    <h2 class="featurette-heading"> <span class="text-muted">Hand-Made</span> and <span class="text-muted">Local</span></h2>
    <p class="lead">
      Established in 2010, Little Heathen&#39;s is an artisan jam propriety located in Des Moines, Iowa. I use small businesses and local farms to make my products.  These recipes showcase the culinary ambition of a Foodie!  Jams are not just for toast, you can make something good into something great with Little Heathen&#39;s!
    </p>
  </div>

  <hr class="featurette-divider" id="natural">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-left" src="/images/2b493ffa.fresh.jpg">
    <h2 class="featurette-heading"><span class="text-muted">Natural</span></h2>
    <p class="lead">
      Natural ingredients and organic cane sugar are used in all my recipes. No corn syrup and no GMOs! Gourmet herbs and spices are used from our local culinarium or my own garden.  The pectin used for gelling is 100% organic citrus pectin!  Using organic citrus pectin means half the sugar and a beautiful product every time!
    </p>
  </div>

  <hr class="featurette-divider" id="flavors">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/19b38fc2.flavors.jpg">
    <h2 class="featurette-heading"><span class="text-muted">Bold, New Recipes</span> and <span class="text-muted">Old Favorites</span></h2>
    <p class="lead">
      Ever tried strawberry Riesling jam? How about blueberry preserves with pure maple syrup or a spicy jam made with Bing cherries and habanero? I have the old favorites too; strawberry rhubarb, apple butter and Concord grape jam; just to name a few.  <a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Browse my selections in my online store!</a>
    </p>
  </div>

  <!-- /END THE FEATURETTES -->

  <hr>

  <!-- FOOTER -->
  <footer>
    <p>Copyright &copy; Little Heathens Gourmet Jams 2014</p>
  </footer>
  <!-- /END OF FOOTER -->

</div><!-- /container -->