<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" scroll-on-click href="#headline">Little Heathens Gourmet Jams</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a scroll-on-click href="#about">Local</a></li>
        <li><a scroll-on-click href="#services">Fresh</a></li>
        <li><a scroll-on-click href="#contact">Flavors</a></li>
        <li><a href="https://www.goodsmiths.com/little-heathens-gourmet-jams" target="_blank">Store</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="headline" id="headline">
  <div class="container">
    <p>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </p>
    <img src="/images/little_heathens_opt.svg" alt="Little Heathens" class="header-logo center-block">
    <div class="header-image"></div>
    <img src="/images/gourmet_jams_opt.svg" alt="Gourmet Jams" class="header-logo center-block">
  </div>
</div>

<div class="container">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" id="about">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/hand_made.jpg">
    <h2 class="featurette-heading">Locally Produced <span class="text-muted">and Hand-Made</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider" id="services">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-left" src="/images/fresh.jpg">
    <h2 class="featurette-heading">Fresh Ingredients <span class="text-muted">and Natural Flavors</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider" id="contact">

  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="/images/flavors.jpg">
    <h2 class="featurette-heading">Bold, New Recipes <span class="text-muted">and Old Favorites</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <!-- /END THE FEATURETTES -->

  <hr>

  <!-- FOOTER -->
  <footer>
    <p>Copyright &copy; Little Heathens Gourmet Jams 2014</p>
  </footer>
  <!-- /END OF FOOTER -->

</div><!-- /container -->
